# Created by .ignore support plugin (hsz.mobi)
### C template
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
modules.order
Module.symvers
Mkfile.old
dkms.conf

### C++ template
# Prerequisites

# Compiled Object files
*.slo

# Precompiled Headers

# Compiled Dynamic libraries

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai

# Executables
.idea/
cmake-build-debug/
.vs
client-MicrosoftVS
*.bak
test/*
out/*

/build/.cmake/api/v1/query/client-vscode/query.json
/build/.cmake/api/v1/reply/cache-v2-fb723801b33fce95ca78.json
/build/.cmake/api/v1/reply/cmakeFiles-v1-54b031e0319275089fb2.json
/build/.cmake/api/v1/reply/codemodel-v2-b1ea8317585019980828.json
/build/.cmake/api/v1/reply/directory-.-Debug-9beb2449c8cab0b14255.json
/build/.cmake/api/v1/reply/index-2023-02-09T23-57-11-0077.json
/build/.cmake/api/v1/reply/target-ballistics-Debug-6f92ca60800d454984bd.json
/build/.cmake/api/v1/reply/target-example-Debug-0c02f2b834de78904207.json
/build/.cmake/api/v1/reply/target-install_ballistics-Debug-d50c38d4de0cfa9e5d8d.json
/build/.cmake/api/v1/reply/toolchains-v1-36275e4124b71db6c503.json
/build/CMakeFiles/3.25.2/CMakeCCompiler.cmake
/build/CMakeFiles/3.25.2/CMakeCXXCompiler.cmake
/build/CMakeFiles/3.25.2/CMakeDetermineCompilerABI_C.bin
/build/CMakeFiles/3.25.2/CMakeDetermineCompilerABI_CXX.bin
/build/CMakeFiles/3.25.2/CMakeRCCompiler.cmake
/build/CMakeFiles/3.25.2/CMakeSystem.cmake
/build/CMakeFiles/3.25.2/CompilerIdC/CMakeCCompilerId.c
/build/CMakeFiles/3.25.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/build/CMakeFiles/CMakeDirectoryInformation.cmake
/build/CMakeFiles/CMakeOutput.log
/build/CMakeFiles/CMakeRuleHashes.txt
/build/CMakeFiles/Makefile.cmake
/build/CMakeFiles/Makefile2
/build/CMakeFiles/TargetDirectories.txt
/build/CMakeFiles/ballistics.dir/DependInfo.cmake
/build/CMakeFiles/ballistics.dir/build.make
/build/CMakeFiles/ballistics.dir/cmake_clean.cmake
/build/CMakeFiles/ballistics.dir/cmake_clean_target.cmake
/build/CMakeFiles/ballistics.dir/compiler_depend.make
/build/CMakeFiles/ballistics.dir/compiler_depend.ts
/build/CMakeFiles/ballistics.dir/depend.make
/build/CMakeFiles/ballistics.dir/flags.make
/build/CMakeFiles/ballistics.dir/includes_C.rsp
/build/CMakeFiles/ballistics.dir/link.txt
/build/CMakeFiles/ballistics.dir/progress.make
/build/CMakeFiles/cmake.check_cache
/build/CMakeFiles/example.dir/DependInfo.cmake
/build/CMakeFiles/example.dir/build.make
/build/CMakeFiles/example.dir/cmake_clean.cmake
/build/CMakeFiles/example.dir/compiler_depend.make
/build/CMakeFiles/example.dir/compiler_depend.ts
/build/CMakeFiles/example.dir/depend.make
/build/CMakeFiles/example.dir/flags.make
/build/CMakeFiles/example.dir/includes_C.rsp
/build/CMakeFiles/example.dir/linkLibs.rsp
/build/CMakeFiles/example.dir/objects1
/build/CMakeFiles/example.dir/progress.make
/build/CMakeFiles/install_ballistics.dir/DependInfo.cmake
/build/CMakeFiles/install_ballistics.dir/build.make
/build/CMakeFiles/install_ballistics.dir/cmake_clean.cmake
/build/CMakeFiles/install_ballistics.dir/compiler_depend.make
/build/CMakeFiles/install_ballistics.dir/compiler_depend.ts
/build/CMakeFiles/install_ballistics.dir/progress.make
/build/CMakeFiles/progress.marks
/build/Makefile
/build/cmake_install.cmake
/build/compile_commands.json
reply
